:root {

    /* Colors */
    --bg-black-1: rgb(32, 35, 37);
    --bg-black-2: rgb(27, 27, 27);


    --bg-color-1: rgb(37, 37, 37);
    --bg-color-2: rgba(37, 37, 37, 0.5);
    --bg-color-3: rgba(37, 37, 37, 0.7);


    --white-color-1: rgb(255, 255, 255);

    --light-color-1: rgb(149, 149, 149);
    --light-color-2: rgba(149, 149, 149, 0.5);

    /* Hover Colors */
    --hover-color-1: #1ab8a6;

    /* Fonts */
    --font-1: 'Libre Baskerville', serif;
    --font-2: 'PT Sans', sans-serif;

    /* Border Colors */
    --border-color-1: #DBDBDB;

}

/* Base Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: 400ms; */
}

body {
    overflow-x: hidden;
    font-family: var(--font-1);
}


span {
    font-size: 0.8rem;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

textarea {
    border: none;
    outline: none;
}

img {
    width: 100%;
    object-fit: cover;
}

button {
    outline: none;
    border: none;
    background: none;
}


/* Commom Classes */


/* Topbar */

.topbar {
    background: var(--bg-black-1);
}

.topbar__container {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topbar__item {
    margin: 0 1rem;
    display: inline-block;
}

.topbar__item i {
    font-size: 0.8rem;
    padding: 0.3rem;
}

.topbar__right {
    display: flex;
    flex-direction: row;
}


/* Navbar */

.navbar__container {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-1);
}

.navbar__container-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar__container-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar__logo {
    text-decoration: none;
    margin-right: 5rem;
}

.navbar__logo img {
    width: 100px;
}


.navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar__social-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navbar__list a {
    font-size: 1rem;
    padding: 0 1rem;
    color: var(--bg-black-1);
}


.social-menu-list a {
    color: var(--bg-black-1);
    margin-right: 1rem;

}

.social-menu-list a i {
    font-size: 1.4rem;
}

.navbar__search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--light-color-1);
    padding-left: 1rem;
}

.navbar__search-box input {
    width: 100%;
    color: var(--bg-black-1);
    font-size: 0.8rem;
    font-family: var(--font-1);
    font-style: italic;
}

.navbar__search-box i {
    font-size: 1.5rem;
    /* margin-left: -10px; */
    background-color: var(--bg-black-1);
    color: aliceblue;
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
}

.navbar li:hover a {
    color: var(--hover-color-1);
}

/* Mobile Navbar */

.mobile_navbar__container {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;
}

.mobile_navbar-top {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_navbar-menuBtn {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile_navbar-menuBtn i {
    font-size: 1.5rem;
    cursor: pointer;
}

.mobile_navbar-bottom {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: 400ms;
    z-index: 100;
}

.mobile_navbar-bottom.active {
    transform: scaleY(1);
    transition: 400ms;
    background: #fff;

}

.mobile_navbar-bottom .navbar__menu {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.3rem;

}

.mobile_navbar-bottom .navbar__menu .navbar__list {
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(40, 44, 53, 0.3);
}

.mobile_navbar-bottom .navbar__menu .navbar__list a {
    padding: 0.5rem;
    color: var(--light-color-1);
}


/* Card */

.card__container {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}



.card {
    margin: 1rem;
    width: 300px;
    height: 350px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border: none;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(calc(100% - 50px));
    background: #fff;
    transition: 0.6s;
    cursor: pointer;
}

.card:hover .card__content {
    transform: translateY(0);
}

.card__top {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    border-bottom: 1px solid var(--border-color-1);
}

.card__title {
    text-align: center;
}

.card__title span {
    font-size: 1.2rem;
    padding-left: 20px;
    color: var(--bg-black-1);
}

.cards__marks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.card__button {
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.card__button:nth-child(1) {
    border: 1px solid var(--border-color-1);
    border-top: none;
    border-bottom: none;
}

.card__button i {
    font-size: 1.4rem;
    color: var(--bg-black-1);
    transition: 0.2s;
}

.card__button:hover i {
    color: var(--hover-color-1);
}


.card__description {
    border-bottom: 1px solid var(--border-color-1);
}

.card__description p {
    font-size: 0.9rem;
    padding: 0.9rem 1rem;
    font-family: var(--font-2);
    color: var(--light-color-1);
}


/* Footer */

.footer {
    background: var(--bg-color-1);
    transition: none;
}

.footer__container {
    color: var(--light-color-1);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.footer__container a {
    color: var(--light-color-1);

}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer__logo img {
    width: 150px;
}

.footer__logo__description {
    margin: 2.5rem 0;
    font-size: 1rem;
    font-family: var(--font-2);
}

.footer__logo__info {
    color: var(--white-color-1);
}

.footer__logo__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}

.footer__logo__item i {
    transition: 400ms;
    font-size: 1.3rem;
}

.footer__logo__item:hover i {
    color: var(--hover-color-1);
}

.footer__logo__item span {
    margin-left: 1rem;
    font-size: 0.8rem;
}



.footer__heading {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: var(--white-color-1);
}

.footer__post__item {
    padding: 0.5rem 0;
    margin: 1rem 0;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
}

.footer__post__item a {
    font-family: var(--font-2);
    font-size: 1rem;
    transition: 400ms;
}

.footer__post__item:hover a {
    color: var(--white-color-1);
}


.footer__contact__form input {
    width: 100%;
    background: #3b3b3b;
    padding: 0.8rem 1rem;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.5);
    font-style: italic;
    font-size: 0.8rem;
    transition: .4s;
}

.footer__contact__form textarea {
    width: 100%;
    background: #3b3b3b;
    text-align: start;
    padding: 0.8rem 1rem;
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-style: italic;
    transition: .4s;
}

.footer__contact__form input:focus,
.footer__contact__form textarea:focus {
    color: var(--white-color-1);
    background: #585858;
}

.footer__contact__form button {
    background: var(--white-color-1);
    font-style: italic;
    padding: 0.6rem 1.5rem;
    font-size: 0.8rem;
    color: var(--bg-black-2);
    transition: 0.5s;
}

.footer__contact__form button:hover {
    color: var(--white-color-1);
    background: var(--hover-color-1);
}

.footer__bottom {
    margin-top: 3rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 85% 15%;
    border-top: 0.1px solid rgba(255, 255, 255, 0.2);
}

.footer__copyright {
    font-size: 0.7rem;
    color: var(--hover-color-1);
    font-style: italic;
}


.footer__social-menu {
    display: flex;
    flex-direction: row;
}


.social-menu-list a {
    transition: 400ms;
}

.social-menu-list a:hover {
    color: var(--white-color-1);
}


/* Contac Us Page */


.contact {
    margin: 5rem 0;
}

.contactform__container {
    display: grid;
    grid-template-columns: 70% 30%
}


.contactform__heading {
    font-size: 1.3rem;
    color: var(--bg-black-2);
}

.contactform__heading span {
    font-size: 1.3rem;
    color: var(--hover-color-1);
}

.contactform__desc {
    font-size: 1rem;
    color: var(--light-color-1);
    font-family: var(--font-2);
}


.contact__form-form input {
    display: block;
    width: 90%;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    color: black;
    border: none;
    outline: none;
    border: 1px solid var(--light-color-2);
    transition: 400ms;
    margin: 1rem 0;
}

.contact__form-form input:focus {
    border: 1px solid var(--hover-color-1);
}

.contact__form-form textarea {
    display: block;
    width: 90%;
    padding: 1rem 1.2rem;
    font-size: 1rem;
    color: black;
    border: 1px solid var(--light-color-2);
    transition: 400ms;
    margin: 1rem 0;
}

.contact__form-form button {
    border: 1px solid transparent;
    background: var(--hover-color-1);
    color: var(--white-color-1);
    text-transform: lowercase;
    font-size: 0.9rem;
    font-family: var(--font-1);
    font-style: italic;
    padding: 0.7rem 2rem;
    transition: 400ms;
}

.contact__form-form button:hover {
    border: 1px solid var(--hover-color-1);
    color: var(--hover-color-1);
    background: var(--white-color-1);
}

.contact__form-form textarea:focus {
    border: 1px solid var(--hover-color-1);
}


.contactform-right {
    background: var(--white-color-1);
    padding: 2rem 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contactform-card:nth-child(2) {
    margin: 2rem 0;
}

.contact__card-heading {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: var(--font-1);
    font-weight: 500;
}

.contact__card-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
    font-size: 0.9rem;
    color: var(--light-color-1);
    font-family: var(--font-2);
}

.contact__card-link:hover i {
    color: var(--hover-color-1);
}

.contact__card-link i {
    margin-right: 1rem;
    font-size: 1.3rem;
    color: var(--light-color-1);
    transition: 400ms;
}




/* About Us */

.about__features {
    background: var(--bg-black-1);
    margin: 3rem 0;
}

.about__features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 3rem 0;
}

.features__card {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}


.features__card-left {
    margin-right: 1rem;
}

.features__card-left i {
    color: var(--hover-color-1);
    font-size: 3rem;
    transition: 400ms;
}

.features__card-left i:hover {
    color: var(--white-color-1);
}

.features__heading {
    font-size: 1rem;
    color: var(--white-color-1);
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1rem;
}

.features__desc {
    color: var(--light-color-2);
    font-size: 1.1rem;
    font-family: var(--font-2);
}



/* Team */

.team {
    margin: 3rem 0;
}

.team h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.team p {
    text-align: center;
    margin: 1rem 10rem;
    color: var(--light-color-1);
    font-family: var(--font-2);
    font-size: 1.2rem;
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 3rem;
}

.team__card {
    border: 1px solid var(--light-color-2);
    margin: 1rem 1rem;
}

.team__img {
    width: 270px;
}

.team__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

.team__info h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--bg-black-2);
    font-weight: 600;
}

.team__info span {
    font-size: 0.9rem;
    font-style: italic;
    color: var(--hover-color-1);
}

.team__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 3rem;
    border-top: 1px solid var(--light-color-2);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.team__social i {
    font-size: 1.7rem;
    color: var(--bg-black-1);
    transition: 400ms;
}

.team__social i:hover {
    color: var(--hover-color-1);
}




/* About Us */

.about__us {
    margin: 3rem 0;
}

.about__us__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: 2rem;
}

.about__us-left {
    margin: 5rem 0;
}

.about__us-left h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--bg-black-1);
    font-weight: 600;
}

.about__us-left p {
    font-size: 1rem;
    color: var(--light-color-2);
    font-family: var(--font-2);
    margin: 2rem 0;
}


.about__us-left button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8rem 1.2rem;
    font-style: italic;
    color: var(--bg-color-1);
    transition: 400ms;
}

.about__us-left button i {
    font-size: 2rem;
    color: var(--bg-color-1);
    margin-right: 0.8rem;
    transition: 400ms;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.about__us-left button:hover {
    background: var(--hover-color-1);
    color: var(--white-color-1);
}

.about__us-left button:hover i {
    transform: translateX(5px);
    color: var(--white-color-1);
    border-right: 1px solid var(--white-color-1);
}

.about__us-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.faq {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    height: fit-content;
    /* background: var(--color-primary); */
    cursor: pointer;
    overflow: hidden;
}

.faq.active h4 {
    color: var(--hover-color-1);
}

.faq.active h4 i {
    transform: translateY(-50%) rotate(180deg);
}

.faq.active p {
    display: block;
}

.question__answer {
    width: 100%;
}

.faq h4 {
    width: 100%;
    font-size: 1rem;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    position: relative;
    transition: 400ms;
}

.faq h4:hover {
    color: var(--hover-color-1);
}

.faq h4 i {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%) rotate(0);
    color: var(--bg-black-1);
    transition: 400ms;
}

.faq__icon {
    align-self: flex-start;
    font-size: 1.2rem;
}

.faq p {
    margin-top: 0.8rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: rgba(40, 44, 53, 0.8);
    font-family: var(--font-2);
    padding: 1rem 1.2rem;
    display: none;
}


/* Blog  */

.blog {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blog__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.blog__card {
    margin: 1rem 1rem;
}

.blog__img img {
    width: 350px;
}

.blog__date {
    color: var(--bg-color-3);
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.blog__date span {
    font-size: 0.7rem;
}

.blog__date i {
    font-size: 1.5rem;
}


.blog__date .bx-calendar {
    margin-right: 0.5rem;
}

.blog__date .bx-share {
    margin-left: 1rem;
    border-left: 1px solid var(--bg-color-3);
    padding-left: 0.5rem;
}

.blog__title h3 {
    font-size: 1.1rem;
    font-weight: 600;
}

.blog__description p {
    font-size: 0.9rem;
    color: var(--light-color-1);
    font-family: var(--font-2);
}


.blog__button button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.8rem 1.2rem;
    font-style: italic;
    color: var(--bg-color-3);
    transition: 400ms;
    text-transform: lowercase;
}

.blog__button button i {
    font-size: 2rem;
    color: var(--bg-color-3);
    margin-right: 0.8rem;
    transition: 400ms;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.blog__button button:hover {
    background: var(--hover-color-1);
    color: var(--white-color-1);
}

.blog__button button:hover i {
    transform: translateX(5px);
    color: var(--white-color-1);
    border-right: 1px solid var(--white-color-1);
}



/* Signle Course  */

.single__course-header {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 70% 30%;
    background: var(--bg-color-1);
    color: whitesmoke;
}

.single__course-header-left {
    padding: 2rem;
}


.single__course-header-left .category {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.single__course-header-left .category span {
    font-size: 1rem;
    font-family: var(--font-2);
}

.single__course-header-left .category span i {
    font-size: 2rem;
    font-family: var(--font-2);
}

.single__course-header-left .title h5 {
    font-size: 2.2rem;
    margin: 1rem 0;
}

.single__course-header-left p {
    font-size: 1.5rem;
    font-family: var(--font-2);
}

.single__course-header-left .createdBy span {
    font-size: 1rem;
    font-family: var(--font-2);
}

.single__course-header-left .createdBy span a {
    margin: 0;
    color: wheat;
}


.single__course-header-right {
    padding: 2rem;
}

.single__course-main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 50%;
    padding: 3rem;
}

.main-learn {
    margin-left: 5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

.main-learn h6 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--bg-black-1);
    margin-bottom: 1rem;
}

.main-learn .learn-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.main-learn .learn-list li {
    list-style: circle;
    font-size: 0.9rem;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--bg-black-1);
    margin: 0.5rem;
}


.main-content {
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 2rem;
}

.main-content h6 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--bg-black-1);
    margin-bottom: 1rem;
}



.content {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* background-color: rgba(255, 255, 255,0.1); */
}

.content h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-family: var(--font-2);
    font-weight: 700;
    cursor: pointer;
    color: var(--bg-black-1);
}

.content h5 i {
    font-size: 1.4rem;
    margin: 0 1rem;
    transition: 100ms;
}


.content.active h5 i {
    transform: rotate(180deg);
}


.content ul {
    margin-top: 1rem;
    display: none;
}

.content.active ul {
    display: block;
}

.content ul li {
    font-size: 0.9rem;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--bg-black-1);
    margin: 0.5rem;
    list-style: circle;
}

.main-requirements {
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 2rem;
}


.main-requirements h6 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--bg-black-1);
    margin-bottom: 1rem;
}


.main-requirements .requirements-list {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
}

.main-requirements .requirements-list li {
    list-style: circle;
    font-size: 0.9rem;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--bg-black-1);
    margin: 0.5rem;
}



.main-description {
    margin-top: 2rem;
    margin-left: 5rem;
    padding: 2rem;
}


.main-description h6 {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--bg-black-1);
    margin-bottom: 1rem;
}


.main-description p {
    font-size: 0.9rem;
    font-family: var(--font-2);
    font-weight: 700;
    color: var(--bg-black-1);
}



/* Media Queries */

/* Smaller than Large Screen Device */

@media screen and (max-width : 1080px) {


    .navbar__container {
        display: none
    }

    .mobile_navbar__container {
        display: flex;
    }

    .card__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar__logo {
        margin: 0;
    }

    .contactform__container {
        grid-template-columns: 1fr;
    }

    .contactform-right {
        margin-top: 3rem;
    }

    .team__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__us__container {
        grid-template-columns: 1fr;
    }

    .blog__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .blog__img img {
        width: 400px;
    }

    .single__course-header {
        grid-template-columns: 1fr;
        /* padding: ; */
    }

    .single__course-header-right {
        grid-row-start: 1;
    }

    .single__course-main {
        grid-template-columns: 1fr;
    }

    .main-learn,
    .main-content,
    .main-requirements,
    .main-description {
        margin-left: 0;
    }


}

/* Smaller than Large Screen Device */

@media screen and (max-width : 800px) {


    .card__container {
        grid-template-columns: 1fr;
    }

    .footer__top {
        grid-template-columns: 1fr;
    }

    .footer__bottom {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .footer__heading {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    .footer__contact__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .footer__contact__form input {
        width: 90%;
    }

    .footer__contact__form textarea {
        width: 90%;
    }

    .footer__social-menu {
        flex-direction: row;
    }

    .about__features__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .features__desc {
        font-size: 0.9rem;
    }

    .team__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team__img {
        width: 330px;
    }


    .team p {
        margin: 1rem 5rem;
        font-size: 1rem;
    }


    .blog__img img {
        width: 300px;
    }

    .single__course-header {
        padding: 1rem;
    }

}


/* Mobile */
@media screen and (max-width : 600px) {

    .topbar__container {
        flex-direction: row;
        padding: 1rem 0;
    }

    .topbar__item span {
        font-size: 0.6rem;
    }


    .card {
        width: 250px;
        height: 300px;
    }

    .card__top {
        height: 100px;
        border: none;
        grid-template-columns: 1fr;
    }

    .card__content {
        transform: translateY(calc(100% - 100px));
    }

    .cards__marks {
        border: none;
        border-top: 1px solid var(--border-color-1);
        border-bottom: 1px solid var(--border-color-1);
    }

    .card__button:nth-child(1) {
        border: none;
        border-right: 1px solid var(--border-color-1);
    }


    .contactform-right {
        padding: 0 1rem;
        border: none;
    }

    .contactform-left {
        padding: 0 1rem;
    }

    .about__features__container {
        grid-template-columns: repeat(1, 1fr);
    }


    .team__img {
        width: 290px;
    }

    .team__card {
        border: 1px solid var(--light-color-2);
        margin: 1rem 0;
    }


    .team p {
        margin: 1rem 3rem;
        font-size: 0.8rem;
    }

    .blog__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog__img img {
        width: 400px;
    }

    .single__course-main{
        padding: 1rem;
    }

    .single__course-header-left {
        padding: 0.3rem;
    }

    .single__course-header-right {
        padding: 0.3rem;
        margin-bottom: 1rem;
    }

    .single__course-header-left .title h5 {
        font-size: 1.5rem;
    }

    .single__course-header-left p {
        font-size: 1rem;
    }


    .main-learn .learn-list {
        grid-template-columns:  1fr;
    }

    .main-learn,
    .main-content,
    .main-requirements,
    .main-description {
       padding: 1rem;
    }

    .main-learn h6  ,
    .main-content h6  ,
    .main-requirements h6  ,
    .main-description  h6  {
        font-size: 1rem;
    }

    .main-learn .learn-list li {
        font-size: 0.7rem;
    }

    .main-requirements .requirements-list li {
        font-size: 0.7rem;
    }

    .main-description p {
        font-size: 0.7rem;
    }

    .content h5{
        font-size: 0.9rem;
    }

    .content ul li{
        font-size: 0.6rem;
    }

}


/* Smaller than Mobile Screen Device */

@media screen and (max-width : 400px) {


    .topbar__item {
        margin: 0 0.4rem;
    }

    .topbar__item i {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .team__img {
        width: 250px;
    }

    .team p {
        margin: 1rem 1rem;
        font-size: 0.8rem;
    }


    .blog__img img {
        width: 250px;
    }

    .single__course-header-left .title h5 {
        font-size: 1rem;
    }

    .single__course-header-left p {
        font-size: 0.7rem;
    }


}